.table * {
	border-radius: 5px;
	margin: 0px;
	padding: 0px;
}
.table table {
	justify-content: space-between;
	border: 2px solid black;
	width: 100%;
	flex-wrap: wrap;
}
.table th {
	border: 2px solid gray;
	background-image: linear-gradient(gray, white, gray);
}
.table button {
	width: 80%;
}

.table {
	border: 2px solid gray;
	text-align: center;
}
