.btn1 {
    margin-right: 54px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: 900;
    background-color: #fff;
}

.btn2 {
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: 900;
    background-color: #fff;
}

.btn1:hover, .btn2:hover {
    cursor: pointer;
}